.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
}

.link{
    text-decoration: none;
    color: black;
    font-family: "Manrope";
}


@media screen and (max-width:500px) {

    .link{
        padding: 10px;
        font-weight: bolder;
    }
    #link{
        display: none;
    }
}